/* Light Mode */

@media (prefers-color-scheme: light) {
    :root {
        --color-background-primary: #fcfcfc;
        --color-sidebar-background: #3d3d3c !important;
        --color-admonition-title-background: #EAF6FF;
        --color-admonition-title: #c2e2fb;
        --color-admonition-title-background--note: #30c42626;
        --color-admonition-title--note: #30c42659;
    }
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
    :root {
        --color-sidebar-background: #1a1c1e !important;
        --color-admonition-title: #0054af;
        --color-admonition-title-background: #0054af5c;
    }
}
